# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Database
cryptosafe.db
data/
cryptosafe.db-shm
cryptosafe.db-wal

# Environment variables
.env

#debug logs
scripts/

#deployment files
render-data/

#currently empty, but may be used in the future for other files that should be ignored
docs/

mobile_app/